<div class="add-bookmark-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">Add Bookmark</h2>
  <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
      <label for="name" class="form-label">Name</label>
      <input
        #textField="ngModel"
        ngModel
        name="name"
        class="textbox"
        type="text"
        placeholder="e.g. Wikipedia"
      />
    </div>

    <div class="form-field">
      <label for="url" class="form-label">Url</label>
      <input
        #urlField="ngModel"
        required
        ngModel
        name="url"
        class="textbox"
        type="url"
        placeholder="e.g. https://wikipedia.org"
      />
      <span
        [ngStyle]="{ color: 'red' }"
        *ngIf="
          urlField.invalid &&
          (urlField.touched || form.submitted) &&
          urlField.invalid
        "
      >
        <ng-container *ngIf="urlField.errors?.required"
          >url is required!</ng-container
        >
      </span>
    </div>
    <div class="btns-container">
      <a class="btn" routerLink="../">Cancel</a>
      <button class="btn align-end">Create Bookmark</button>
    </div>
  </form>
</div>
