<div class="centered-content">
    <div class="container">
        <div class="sidebar">
            <h1>Lists</h1>
            <div class="list-menu" >
                <a class="list-menu-item is-active">list-1</a>
                <a class="list-menu-item ">list-1</a>
                <a class="list-menu-item ">list-1</a>
            </div>
            <button class="btn btn-primary">+ New List</button>
        </div>
        <div class="task-lists-container">
            <h1>Tasks</h1>
            <div class="task">
                <p>this is something</p>
            </div>
            <div class="task">
                <p>this is something</p>
            </div>
        </div>
    </div>
</div>