<div class="centered-content">
    <div class="modal-box">
      <h1>Edit Task</h1>
      <div class="input-group mb-3">
        <input
          #title
          type="text"
          class="form-control"
          placeholder="List's Title"
          [value]="value"
        />
      </div>
      <div class="input-group-append">
        <button class="btn btn-info" (click)="cancelClicked()">Cancel</button>
        <button
          class="btn btn-primary"
          type="button"
          (click)="editTask(title.value)"
        >
          Save
        </button>
      </div>
    </div>
  </div>
  