.bookmark-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.68);
  width: 100px;
  height: 100px;
  gap: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

.bookmark-tile:hover{
    background-color: rgba(0,0,0,0.68);
    backdrop-filter:blur(2px) ;
}

.bookmark-tile:active{
    background: rgba(0, 0, 0, 0.80);
    transform: translateY(2px);
    transition-duration: 0s;
}

.bookmark-tile img {
  max-width: 32px;
}

.tile-text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
}