.todo-item{
    display: flex;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
    padding: 10px 12px;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.todo-item:hover .todo-text{
    color: #ffffff;
}

.todo-item:hover .check-box{
    background-color: rgba(255, 255, 255, 0.35);
    border-color: transparent;
}

.todo-text{
    color: rgba(255,255,255,0.8);
}

.check-box{
    display: flex;
    padding: 4px;
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    margin-right: 15px;
}

.check-box i{
    font-size: 18px;
    opacity: 0;
}

.todo-item.completed .check-box{
    background-color: rgba(9,218,89) ;
    border-color: transparent;
}

.todo-item.completed ~ .todo-text{
    color: rgba(0,0,0,0.65);
}

.todo-item.completed i{
    opacity: 1;
}

.todo-text,.check-box{
    transition: 0.1s;
}

.todo-item-actions{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(72,72,82,0.85);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    visibility:hidden;
    opacity: 0;
    transform: scale(0.75);
    transition: 0.2s 100ms;
}

.todo-item:hover .todo-item-actions{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.todo-item-action-btn{
    background: transparent;
    border-radius: inherit;
    padding: 10px;
}

.todo-item-action-btn:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 14px;
}

.todo-item-action-btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 14px;
}

.todo-item-action-btn:hover{
    background-color: rgba(50,50,53);
}

.todo-item-action-btn{
    font-size: 20px;
}